body{
    color:rgb(97, 3, 55);
    background-image: url("bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.battlescreen{
    font-size: 20px;
    display:flex;
    flex-direction: column;
    text-align: center;  
}


.heading{
    display:flex;
    flex-direction: row; 
    justify-content: space-between; 
}


.log{
    display:flex;
    flex-direction: column;
}



.playerAvatars, .actions{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

.avatarP1{
    margin-top: 17%;
    width: 200px;
    height: 200px;
}

.avatarP2{
    margin-top: 17%;
    width: 200px;
    height: 200px;
}

.log{
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow: hidden;
}





#health2{
    transform:rotate(180deg);
-ms-transform:rotate(180deg); 
-webkit-transform:rotate(180deg); 
}


#ItemLogoP1{
    width: 40px;
    height: 40px;
}

#ItemLogoP2{
    width: 40px;
    height: 40px;
}

.movelistP1{
    padding:5px;
    margin: 15px 3px 3px 3px;
    background-color: rgba(83, 80, 80, 0.233);
    button{
        font-size: 20px;
        width: 80px;
    height: 40px;
    }
}
.movelistP2{
    padding:5px;
    margin: 15px 3px 3px 3px;
    background-color: rgba(83, 80, 80, 0.233);
    button{
        font-size: 20px;
        width: 80px;
    height: 40px;
    }
}