.startscreen {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

    button {
        font-size: 20px;
        width: 80px;
        height: 80px;
    }
}

.startP1,
.startP2 {
    display: flex;
    flex-flow: column wrap;
}

.selectRaceP1,
.selectItemsP1,
.selectRaceP2,
.selectItemsP2 {
    margin: 5px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-flow: column wrap;

}

.submitP1,
.submitP2 {
    width: 100%;
}

.ready {
    margin-left: -50%;
}

.versus {
    margin-top: 0%;
}