@font-face {
    font-family: 'MyWebFont';
    src: url('Something Strange.ttf');
}

body{  
    font-size:100px;
}

.winnerscreen{
    margin-top: 20%;
    text-align: center;
    justify-content: center;
    color: red;
    font-family: 'MyWebFont', Fallback, sans-serif;
}

#again{
background-color: rgba(0, 255, 255, 0);
border: none;
color:red; 
font-size: 30px;
font-family: 'MyWebFont', Fallback, sans-serif;

}
