* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.startscreen {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.startscreen button {
  font-size: 20px;
  width: 80px;
  height: 80px;
  background-color: rgba(133, 133, 133, 0);
  margin-top: 8px;
  border: solid #a37bac 2px;
  border-radius: 10px;
  color: #610337;
}

.startscreen .activebutton {
  background-color: pink;
}

img {
  width: 200px;
  height: 200px;
}

.selectRaceP1,
.selectItemsP1,
.selectRaceP2,
.selectItemsP2 {
  margin: 10px;
  height: 200px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.InputNameP1,
.InputNameP2 {
  width: 90%;
  font-size: 20px;
  background-color: #a37bac00;
  padding: 5px;
  margin-top: 15px;
  border: solid #610337 1px;
  border-radius: 5px;
  margin: 18px;
}

::-webkit-input-placeholder {
  color: #610337;
}

:-ms-input-placeholder {
  color: #610337;
}

::-ms-input-placeholder {
  color: #610337;
}

::placeholder {
  color: #610337;
}

.versus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #d8b1c881;
}

.imageRaceP1 {
  width: 200px;
  height: 200px;
}

.imageRaceP2 {
  width: 200px;
  height: 200px;
}

.imageItemP1 {
  width: 200px;
  height: 200px;
}

.imageItemP2 {
  width: 200px;
  height: 200px;
}

.ready {
  margin-left: -49%;
}

.ready button {
  width: 300px;
  margin-bottom: 10px;
}

.buttonP1 button {
  width: 100%;
  height: 50PX;
}

.buttonP2 button {
  width: 100%;
  height: 50PX;
}

.itemExplP1,
.raceExplP1,
.itemExplP2,
.raceExplP2 {
  width: 100%;
  height: 30px;
}

.startP1,
.startP2 {
  background-color: #d8b1c881;
}

.containerInfo,
.containerInfoP2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infoP1,
.infoP2 {
  font-size: 32px;
}

body {
  color: #610337;
  background-image: url("bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.battlescreen {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.log,
#log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.playerAvatars,
.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.avatarP1 {
  margin-top: 17%;
  width: 200px;
  height: 200px;
}

.avatarP2 {
  margin-top: 17%;
  width: 200px;
  height: 200px;
}

.log {
  width: 400px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: scroll;
  overflow: hidden;
}

#health2 {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

#ItemLogoP1 {
  width: 40px;
  height: 40px;
}

#ItemLogoP2 {
  width: 40px;
  height: 40px;
}

.movelistP1 {
  padding: 5px;
  margin: 15px 3px 3px 3px;
  background-color: rgba(83, 80, 80, 0.233);
}

.movelistP1 button {
  font-size: 20px;
  width: 80px;
  height: 40px;
}

.movelistP2 {
  padding: 5px;
  margin: 15px 3px 3px 3px;
  background-color: rgba(83, 80, 80, 0.233);
}

.movelistP2 button {
  font-size: 20px;
  width: 80px;
  height: 40px;
}

.yieldP2 a,
.yieldP1 a {
  text-decoration: none;
  color: black;
}

.bloodyP1 {
  margin: -200px 0px 0px -650px;
}

.bloodyP1 #bloodimg1 {
  width: 60px;
  height: 60px;
}

.bloodyP1 #bloodimg2 {
  width: 80px;
  height: 80px;
  margin: 20px;
}

.bloodyP2 {
  margin: -200px 0px 0px 640px;
}

.bloodyP2 #bloodimg1-2 {
  width: 80px;
  height: 80px;
}

.bloodyP2 #bloodimg2-2 {
  width: 60px;
  height: 60px;
  margin: 30px;
}

@font-face {
  font-family: 'MyWebFont';
  src: url("Something Strange.ttf");
}

body {
  font-size: 100px;
}

.winnerscreen {
  margin-top: 20%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: red;
  font-family: 'MyWebFont', Fallback, sans-serif;
}

#again {
  background-color: rgba(0, 255, 255, 0);
  border: none;
  color: red;
  font-size: 30px;
  font-family: 'MyWebFont', Fallback, sans-serif;
}
/*# sourceMappingURL=style.css.map */